{
	"data": "ENC[AES256_GCM,data:QXsl1tENKnwE1Zbi8gmkkWjnxmQlbHmj0K93Gnn4PnhbTjX9T7ZCFFyRSTz9yE+JsoY1NdQtpkAJD3EBWRA208g6D8r8LId+KrsrXpe2klPxp3x2,iv:+6V2wXaUWmlBryG54mzDG2N2HVcp4uCzgW9Bxrj2wRw=,tag:NYfeuzRxPUQAJKiFbMKqDw==,type:str]",
	"sops": {
		"age": [
			{
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB4RlRUc2FPVCtUbWY1YjNN\nMU9Ub2l0T1k0cFpGT08zQlgxd0RSK0NuRFE4CmhlSzJYVmVTMHpVaXZpajNHQVVj\nUTFKRXJnUTlSTEFTUitqZUZhaUdMZE0KLS0tIGFQR1ByZGUvSFhoVVhweC9EL0xZ\nQ3U2YThNQ3BGTnlLQk1RQlFPQk5VWVkKZfLdZP33IFSlKO1UX1n94AHEkuC6c0lc\nN7bHsd7nYZfambKqjbCCzw6Sw9PhTmFu3S5nHVoNyAHI1z4EEYZ8Hw==\n-----END AGE ENCRYPTED FILE-----\n",
				"recipient": "age1nhmehn0ry5knns3zl9xx546cfn0frsmu35vvvlputm676wae8ufqqjz5l3"
			}
		],
		"lastmodified": "2026-08-24T11:58:22Z",
		"mac": "ENC[AES256_GCM,data:reDKDLPaxPM8o5XLPgjBnR+UpzmhsIYJVKpBUp2GKQauybkyNSIdrUJ74GiI3DKv/OTZcJtNaXykwpBZ7FgL+QREa1/BDCBghG3iVDcxQNjDtApVjREHkHdqDtiWV19SAZ0PcOpSn5f159XWhXwrP2r2tWOSXmz0MURlYYdD6sw=,iv:wXVDpZFSOuRnHpCMJhSyVyUS2IdlLw7FjtqoGvkLfb0=,tag:QXuLoekJNKpBYkDPFG6sCw==,type:str]",
		"version": "3.13.3"
	}
}
